* {
    padding: 0;
    margin: 0;
}

.box {
    width: 150px;
    height: 150px;
    background-color: gray;
}

div {
    width: 150px;
    height: 150px;
    background-color: blue;
}

p {
    color: white;
}